@charset "UTF-8";
@import "common/var";
@import "mixins/button";
@import "mixins/mixins";

// default
@include b(button) {
  font-size: $--button-font-size;
  color: $--button-default-font-color;
  background-color: $--button-default-background-color;
  border: $--border-base;
  border-radius: $--button-border-radius;
  border-color: $--button-default-border-color;
  padding: $--button-padding-vertical $--button-padding-horizontal;
  outline: none;
  cursor: pointer;
  transition: 0.1s;

  & + & {
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    color: $--color-primary;
    border-color: $--color-primary-light-7;
    background-color: $--color-primary-light-9;
  }

  &:active {
    color: mix(
      $--color-black,
      $--color-primary,
      $--button-active-shade-percent
    );
    border-color: mix(
      $--color-black,
      $--color-primary,
      $--button-active-shade-percent
    );
  }

  @include when(plain) {
    &:hover,
    &:focus {
      background: $--color-white;
      border-color: $--color-primary;
      color: $--color-primary;
    }

    &:active {
      background: $--color-white;
      border-color: mix(
        $--color-black,
        $--color-primary,
        $--button-active-shade-percent
      );
      color: mix(
        $--color-black,
        $--color-primary,
        $--button-active-shade-percent
      );
      outline: none;
    }
  }

  // is-disabled
  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
      color: $--button-disabled-font-color;
      background-image: none;
      background-color: $--button-disabled-background-color;
      border-color: $--button-disabled-border-color;
    }
  }

  // primary
  @include m(primary) {
    @include button-variant(
      $--button-primary-font-color,
      $--button-primary-background-color,
      $--button-primary-border-color
    );
  }

  // info
  @include m(info) {
    @include button-variant(
      $--button-info-font-color,
      $--button-info-background-color,
      $--button-info-border-color
    );
  }

  // success
  @include m(success) {
    @include button-variant(
      $--button-success-font-color,
      $--button-success-background-color,
      $--button-success-border-color
    );
  }

  // warning
  @include m(warning) {
    @include button-variant(
      $--button-warning-font-color,
      $--button-warning-background-color,
      $--button-warning-border-color
    );
  }

  // danger
  @include m(danger) {
    @include button-variant(
      $--button-danger-font-color,
      $--button-danger-background-color,
      $--button-danger-border-color
    );
  }
}
